{% extends 'index.html' %} 
{% block 'body' %}
<h3>Nueva reserva</h3>
<a href="/genesis" class="btn btn-warning btn-sm">Volver</a>
<br>
<br>
<form action="{% url 'crear-reserva' %}" class="needs-validation" novalidate="" method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-sm-12">
            <label for="" class="form-label">Espacio</label>
            <select class="form-control" name="espacio_reserva_id" required>
                {% for espacio_r in espacios_r%}
                <option value='{{espacio_r.id}}'>{{espacio_r.espacio.tipo}} - {{espacio_r.espacio.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-6">
            <label for="" class="form-label">Horas máximas de reserva</label>
            <div id="datepicker"></div>
            <input type="hidden" name="fecha" value="{{hoy}}"/>
        </div>
        <div class="col-sm-6">
            <label for="" class="form-label">Hora</label>
            <select class="form-control" name="hora" required>
                {% for hora in horas%}
                <option value='{{hora.id}}'>{{hora.hora}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr class="my-4">
    <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
</form>

{% endblock %}
{% block 'js' %}
<script>
    $( function() {
        $( ".nav-item:nth-child(2)" ).hide();
        $( "#datepicker" ).datepicker({
            minDate: 0,
            setDate: new Date(),
            onSelect: function (dateText, inst) {
                var date = $("#datepicker").datepicker("getDate");
                date = $.datepicker.formatDate("yy-mm-dd 00:00:00.000 -0500", date);
                $('input[name=fecha').val(date);
            }
        });
    } );
</script>
{% endblock %}